<!-- about me section for them curious folks -->

<!-- picture -- strech best buy days picture carousel -->

<!-- paragraph about me and bby related experience -->
<p>
    <img src=".images/IMG_3779.jpeg" alt="Hello World!" style="width:170px;height:170px;margin-right:15px;">
    hey this is me! write about yourself and add picture.
</p>

<div class="container"> 
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
  
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="la.jpg" alt="title for old BBy pics" style="width:100%;">
        </div>
  
        <div class="item">
          <img src="chicago.jpg" alt="Title of old bby pics" style="width:100%;">
        </div>
      
        <div class="item">
          <img src="ny.jpg" alt="title for old bby pics" style="width:100%;">
        </div>
      </div>
  
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>