<!-- info about site and what it does. -->
<h1>Welcome to Home!</h1>
<h4> click join or log in to check out these 🔥 deals.</h4>
<br>
<br>
<form>
<input action="/login" type="submit" value="Log In">
</form> 
<!-- log in button -->
<!-- join hyperlink that redirects to join page -->