<!-- info about site and what it does. -->
<h1>Welcome to Home!</h1>
<h4> click join or log in to check out these 🔥 deals.</h4>
<br>
<br>
<!-- log in button -->
<form action="/login" method="GET">
<input  type="submit" value="Log In">
</form> 

<!-- join hyperlink that redirects to join page -->
<a href="/join">Join Us Here!</a>