<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Best Buy Deals</title>
</head>
<body>
    <nav>
        <ul id="mainbar">
            <li id="navbar">
                <a id="hover" href="/"> Home</a>
                <a id="hover" href="/about"> About Me</a>
                <a id="hover" href="/join"> Join Us</a>
                <a id="hover" href="/login"> Log In</a>
            </li>
        </ul>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <main>
    <%- body %> 
</main>

</body>

</html>