<!-- centered box with form for username and password boolean -->
<form action="/" method="post">
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
          
    </div>
  
    </div>
  </form>
  <button href="/login" >Login</button>
  
<!-- submit button that goes to products page upon boolean true-->

<!-- new subscriber hyperlink to join page -->