<!-- centered box with form for username and password boolean -->




<form action="/login" method="POST">
    <div class="container">
      <label for="userName"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="userName" required>
  
      <!-- <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required> -->
          

      <form action="/products" method="GET">
        <input  type="submit" value="Log In">
      </form> 
  

  
    
  
<!-- submit button that goes to products page upon boolean true-->

<!-- new subscriber hyperlink to join page -->