<!-- table showing: -->

<!-- get items from designated user and display in table. -->

<!-- right hand side mediumImage -->

<!-- right hand side name -->

<!-- bottom left outside table buy it button that sends to addToCartUrl -->

  
<div class="container">

    <h2><%= ${userName} %>'s Cart</h2>
  
    <% product.forEach(product => { %>
    <div class="well">
      <h3><%= product.name; %></h3>
      <a href="/product/<%= product.name() %>">
        
        <button acion="/details/:id" class="btn btn-primary">More Info</button>
      </a>
    </div>
    <form action="/results/<%= product.result %>/?_method=DELETE" method="POST">
      <input type="submit" value="Delete " /> </form>
    <% }); %>
  
  </div>