<!-- table showing: -->

<!-- get items from designated user and display in table. -->

<!-- right hand side mediumImage -->

<!-- right hand side name -->

<!-- bottom left outside table buy it button that sends to addToCartUrl -->

  
<div class="container">

    <h2><%= ${userName} %> Cart</h2>
  
    <% product.forEach(product => { %>
    <div class="well">
      <h3><%= product.name; %></h3>
      <a href="/product/<%= pokemon.name.toLowerCase() %>">
        <button class="btn btn-primary">More Info</button>
      </a>
      <form method="POST" action="/cart/<%= product.name %>/?_method=DELETE">
        <input type="submit" value="Remove" class="btn btn-primary">
      </form>
    </div>
    <% }); %>
  
  </div>