<h1>The Best Current Deals At Best Buy:</h1>
<p>Type name of product below:</p>
<form action="/results" method="GET">
    <label for="product">Product name goes here.</label></br>
    <input type="text" name="name" id="productName">
<input type="submit" value="Enter">
</form>



<div class="well">
  <h2>product name is gonna go here with squiddy</h2>
  <form method="POST" action="/products">
    <input hidden type="text" name="name" value="product name here">
    <button class="btn btn-primary" type="submit">Add To Cart</button>
  </form>
</div>
</div>
<form>
  <button action="/cart" type="submit">Go To Cart</button>
</form>
<!-- right hand side showing in order: -->
<!-- title -->
<!-- regularPrice/salePrice  -->
<!-- description -->

<!-- far left top of row add button to add to list -->

<!-- repeat for each item result with key input value. -->