<h1>The Best Current Deals At Best Buy:</h1>
<p>Type name of product below:</p>
<form action="/products" method="GET">
    <label for="product">Product name goes here.</label></br>
    <input type="text" name="name" id="productName">
    <input type="hidden" value="<%= user %>" name="user">
<input type="submit" value="Enter">
</form>




<!-- right hand side showing in order: -->
<!-- title -->
<!-- regularPrice/salePrice  -->
<!-- description -->

<!-- far left top of row add button to add to list -->

<!-- repeat for each item result with key input value. -->